<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Comments!</title>
  </head>
  <body>

          <form action="{% url 'comment_create' %}" method="post">
        <input type="text" class="pl-8 text-grey-dark font-light w-full text-sm font-medium tracking-wide border border-none" name="comment"  placeholder="Type your commnet...">
        <input type="hidden" name="url" value={{request.build_absolute_uri}}>
        <input type="hidden" name="parentsno" value="" >

        <button type="submit" value="Submit" >Submit</button>
        {% csrf_token %}
      </form>



<div><h2><b>Comments</b></h2></div>
<div id="comments-container">

  {% for l in   comment_from_processor   %}
  {% if l.url == request.build_absolute_uri %}
      
      {{user.username}} {{l.cmnt}}     {% if l.user == user %}
              <a href="{% url 'comment_delete' l.sno %}">Delete</a>
            {% endif %}<br>



<form action="{% url 'comment_create' %}" method="post">
  <div>
  <input type="text"  name="reply"  placeholder="Type your reply...">
  <input type="hidden" name="parentsno" value={{l.sno}} >
  <input type="hidden" name="url" value={{request.build_absolute_uri}}>
  <input  type="submit" value="Reply" ></input>
  </div>
  
        {% csrf_token %}
      </form>

  {% for r in   reply_from_processor   %}
  {% if l.sno == r.parent.sno %}
      {{user.username}} {{r.cmnt}}    {% if r.user == user %}
              <a href="{% url 'comment_delete' r.sno %}">Delete</a>
            {% endif %}<br>
    {% endif %}
   
</div>
{% endfor %}
{% endif %}
{% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

